* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;

  font-family: righteous;
}

body {
  width: 100%;

  height: 100%;

  display: flex;

  flex-direction: column;

  justify-content: flex-end;

  align-items: center;
}

.container {
  width: 80%;

  height: auto;

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 25px 0;
}

.container .colorCode {
  padding: 10px 25px;

  width: 50%;

  background-color: #fff;

  border-radius: 50px;
}

.container .generateBtn {
  padding: 12px 25px;

  background-color: #fff;

  transition: 0.3s;

  outline: none;

  border-radius: 50px;
}

.container .generateBtn:hover {
  border: 3px solid #fff;

  background-color: #000;

  color: #fff;

  cursor: pointer;
}

.container2 {
  width: 80%;

  height: auto;

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 25px 0;
}

.container2 .colorCode2 {
  padding: 10px 25px;

  width: 50%;

  background-color: #fff;

  border-radius: 50px;
}

.container2 .generateBtn2 {
  padding: 12px 25px;

  background-color: #fff;

  transition: 0.3s;

  outline: none;

  border-radius: 50px;
}

.container2 .generateBtn2:hover {
  border: 3px solid #fff;

  background-color: #000;

  color: #fff;

  cursor: pointer;
}
